{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Appraisal - (Cycle Name)</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- table hover -->
                        <div class="table-scrollable">
                            <div style="overflow-x:auto;"></div>
                                <table class="table table-bordered"  cellpadding="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>Job Requirements (KRA)</th>
                                            <th>My Score</th>
                                            <th>My Comment</th>
                                            <th>Manager Score</th>
                                            <th>Manger Comment</th>
                                            <th>Owner Score</th>
                                            <th>Owner Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr>
                                            <td class="text-bold-500">Execute any digital marketing related work in ongoing client engagement</td>
                                            <td>5</td>
                                            <td>Neque porro</td>
                                            <td>5</td>
                                            <td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</td>
                                            <td>5</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Analytical Ability</td>
                                            <td>4</td>
                                            <td>Neque porro</td>
                                            <td>4</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                            <td>4</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Communication</td>
                                            <td>5</td>
                                            <td>Neque porro</td>
                                            <td>5</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                            <td>5</td>
                                            <td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Lead Generation</td>
                                            <td>5</td>
                                            <td>Neque porro</td>
                                            <td>4</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                            <td>2</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Machine Repairing</td>
                                            <td>3</td>
                                            <td>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</td>
                                            <td>2</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                            <td>1</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Testing</td>
                                            <td>3</td>
                                            <td>Neque porro</td>
                                            <td>3</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                            <td>3</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Deployment</td>
                                            <td>4</td>
                                            <td>Neque porro quisquam est</td>
                                            <td>2</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                            <td>2</td>
                                            <td>Neque porro quisquam est qui dolorem</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}