{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Appraisal Report - (Name)</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- table hover -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Cycle</th>
                                        <th>My Score</th>
                                        <th>Manager Score</th>
                                        <th>Appraisal Score</th>
                                        <th>Task Score</th>
                                        <th>KPI Score</th>
                                        <th>iFeel Score</th>
                                        <th>Final Score</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr>
                                        <td><a href="{% url 'appraisalDetails' %}" class="text-bold-500">First Cycle (Q1)</td>
                                        <td>78%</td>
                                        <td>70%</td>
                                        <td>79%</td>
                                        <td>74.38%</td>
                                        <td>72.49%</td>
                                        <td>97%</td>
                                        <td><span class="badge bg-light-success">78.47%</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'appraisalDetails' %}" class="text-bold-500">First Cycle (Q2)</td>
                                        <td>83%</td>
                                        <td>79%</td>
                                        <td>87%</td>
                                        <td>85.13%</td>
                                        <td>88.67%</td>
                                        <td>100%</td>
                                        <td><span class="badge bg-light-success">87.13%</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'appraisalDetails' %}" class="text-bold-500">First Cycle (Q3)</td>
                                        <td>68%</td>
                                        <td>60%</td>
                                        <td>76%</td>
                                        <td>77.83%</td>
                                        <td>90.45%</td>
                                        <td>98%</td>
                                        <td><span class="badge bg-light-success">78.38%</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="{% url 'appraisalDetails' %}" class="text-bold-500">First Cycle (Q4)</td>
                                        <td>50%</td>
                                        <td>52%</td>
                                        <td>54%</td>
                                        <td>68.33%</td>
                                        <td>67%</td>
                                        <td>89%</td>
                                        <td><span class="badge bg-light-success">63.38%</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}