{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Change Password</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Old Password*</label>
                                        <input type="text" id="first-name-column" class="form-control"
                                            placeholder="Role" name="fname-column" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="first-name-column">New Password*</label>
                                        <input type="text" id="first-name-column" class="form-control"
                                            placeholder="Role" name="fname-column" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="first-name-column">New Password Confirmation*</label>
                                        <input type="text" id="first-name-column" class="form-control"
                                            placeholder="Role" name="fname-column" required>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                    <button type="cancel" class="btn btn-light me-1 mb-1">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic multiple Column Form section end -->
</div>
{% endblock %}