{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
    <div class="row" id="table-hover-row">
         <div class="col-12">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-end py-3">
                    <a href="{% url 'createNewDevelopmentGoal' %}" class="btn btn-primary">Create new</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Development Goals</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- table hover -->
                        <!-- Button trigger for danger theme modal -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Goal</th>
                                        <th>Created On</th>
                                        <th>Set By</th>
                                        <th>Set For</th>
                                        <th>Target Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-bold-500">Networking</td>
                                        <td class="text-bold-500">April 11,2022</td>
                                        <td>Jenny Thomas</td>
                                        <td>Abhishek Borse</td>
                                        <td>April 25,2022</td>
                                        <td><span class="badge bg-danger">WAITING</span></td>
                                        <td>
                                            <a href="{% url 'updateDevelopmentGoal' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="#" class="badge bg-danger" data-bs-placement="right" title="Delete" 
                                            data-bs-toggle="modal" data-bs-target="#danger"><i class="bi bi-trash"></i></a>
                                            <a href="{% url 'addCommentDevelopmentGoal' %}" class="badge bg-info"><i class="bi bi-chat-left" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"></i></a>
                                        </td>
                                        <!--Danger theme Modal -->
                                        <div class="modal fade text-left" id="danger" tabindex="-1" role="dialog"
                                        aria-labelledby="myModalLabel120" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm"
                                            role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-danger">
                                                    <h5 class="modal-title white" id="myModalLabel120">Are you sure you want to delete?
                                                    </h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal"
                                                        aria-label="Close">
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light-secondary"
                                                        data-bs-dismiss="modal">
                                                        <i class="bx bx-x d-block d-sm-none"></i>
                                                        <span class="d-none d-sm-block">No</span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger ml-1"
                                                        data-bs-dismiss="modal">
                                                        <i class="bx bx-check d-block d-sm-none"></i>
                                                        <span class="d-none d-sm-block">Yes</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Review Meeting</td>
                                        <td class="text-bold-500">April 11,2022</td>
                                        <td>John Doe</td>
                                        <td>John Cena</td>
                                        <td>April 12,2022</td>
                                        <td><span class="badge bg-success">CLOSED</span></td>
                                        <td>
                                            <a href="{% url 'updateDevelopmentGoal' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="#" class="badge bg-danger" data-bs-placement="right" title="Delete" 
                                            data-bs-toggle="modal" data-bs-target="#danger"><i class="bi bi-trash"></i></a>
                                            <a href="{% url 'addCommentDevelopmentGoal' %}" class="badge bg-info"><i class="bi bi-chat-left" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Wedding</td>
                                        <td class="text-bold-500">April 13,2022</td>
                                        <td>Ranbir Kapoor</td>
                                        <td>Alia Bhatt</td>
                                        <td>April 20,2022</td>
                                        <td><span class="badge bg-primary">OPEN</span></td>
                                        <td>
                                            <a href="{% url 'updateDevelopmentGoal' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="#" class="badge bg-danger" data-bs-placement="right" title="Delete" 
                                            data-bs-toggle="modal" data-bs-target="#danger"><i class="bi bi-trash"></i></a>
                                            <a href="{% url 'addCommentDevelopmentGoal' %}" class="badge bg-info"><i class="bi bi-chat-left" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Win the match</td>
                                        <td class="text-bold-500">April 12,2022</td>
                                        <td>Neeta Ambani</td>
                                        <td>Rohit Sharma</td>
                                        <td>April 13,2022</td>
                                        <td><span class="badge bg-primary">OPEN</span></td>
                                        <td>
                                            <a href="{% url 'updateDevelopmentGoal' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="#" class="badge bg-danger" data-bs-placement="right" title="Delete" 
                                            data-bs-toggle="modal" data-bs-target="#danger"><i class="bi bi-trash"></i></a>
                                            <a href="{% url 'addCommentDevelopmentGoal' %}" class="badge bg-info"><i class="bi bi-chat-left" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Web Development</td>
                                        <td class="text-bold-500">March 10,2022</td>
                                        <td>Shyam Rathod</td>
                                        <td>Bakelite</td>
                                        <td>April 20,2022</td>
                                        <td><span class="badge bg-success">CLOSED</span></td>
                                        <td>
                                            <a href="{% url 'updateDevelopmentGoal' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="#" class="badge bg-danger" data-bs-placement="right" title="Delete" 
                                            data-bs-toggle="modal" data-bs-target="#danger"><i class="bi bi-trash"></i></a>
                                            <a href="{% url 'addCommentDevelopmentGoal' %}" class="badge bg-info"><i class="bi bi-chat-left" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">UI Design</td>
                                        <td class="text-bold-500">Feb 25,2022</td>
                                        <td>Gopal Kamath</td>
                                        <td>Shyam Rathod</td>
                                        <td>Feb 28,2022</td>
                                        <td><span class="badge bg-success">CLOSED</span></td>
                                        <td>
                                            <a href="{% url 'updateDevelopmentGoal' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="#" class="badge bg-danger" data-bs-placement="right" title="Delete" 
                                            data-bs-toggle="modal" data-bs-target="#danger"><i class="bi bi-trash"></i></a>
                                            <a href="{% url 'addCommentDevelopmentGoal' %}" class="badge bg-info"><i class="bi bi-chat-left" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">TRAQ App Development</td>
                                        <td class="text-bold-500">March 01,2022</td>
                                        <td>Gopal Kamath</td>
                                        <td>Yograj Shirsath</td>
                                        <td>April 30,2022</td>
                                        <td><span class="badge bg-warning">IN PROGRESS</span></td>
                                        <td>
                                            <a href="{% url 'updateDevelopmentGoal' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="#" class="badge bg-danger" data-bs-placement="right" title="Delete" 
                                            data-bs-toggle="modal" data-bs-target="#danger"><i class="bi bi-trash"></i></a>
                                            <a href="{% url 'addCommentDevelopmentGoal' %}" class="badge bg-info"><i class="bi bi-chat-left" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}