{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
    <div class="row" id="table-hover-row">
         <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Development Goals</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- table hover -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Goal</th>
                                        <th>Created On</th>
                                        <th>Set By</th>
                                        <th>Set For</th>
                                        <th>Target Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-bold-500">Networking</td>
                                        <td class="text-bold-500">April 11,2022</td>
                                        <td>Jenny Thomas</td>
                                        <td>Abhishek Borse</td>
                                        <td>April 25,2022</td>
                                        <td><span class="badge bg-primary">OPEN</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                            <a class="badge bg-info"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Review Meeting</td>
                                        <td class="text-bold-500">April 11,2022</td>
                                        <td>John Doe</td>
                                        <td>John Cena</td>
                                        <td>April 12,2022</td>
                                        <td><span class="badge bg-success">CLOSED</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                            <a class="badge bg-info"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Wedding</td>
                                        <td class="text-bold-500">April 13,2022</td>
                                        <td>Ranbir Kapoor</td>
                                        <td>Alia Bhatt</td>
                                        <td>April 20,2022</td>
                                        <td><span class="badge bg-primary">OPEN</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                            <a class="badge bg-info"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Win the match</td>
                                        <td class="text-bold-500">April 12,2022</td>
                                        <td>Neeta Ambani</td>
                                        <td>Rohit Sharma</td>
                                        <td>April 13,2022</td>
                                        <td><span class="badge bg-primary">OPEN</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                            <a class="badge bg-info"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Web Development</td>
                                        <td class="text-bold-500">March 10,2022</td>
                                        <td>Shyam Rathod</td>
                                        <td>Bakelite</td>
                                        <td>April 20,2022</td>
                                        <td><span class="badge bg-success">CLOSED</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                            <a class="badge bg-info"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">UI Design</td>
                                        <td class="text-bold-500">Feb 25,2022</td>
                                        <td>Gopal Kamath</td>
                                        <td>Shyam Rathod</td>
                                        <td>Feb 28,2022</td>
                                        <td><span class="badge bg-success">CLOSED</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                            <a class="badge bg-info"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">TRAQ App Development</td>
                                        <td class="text-bold-500">March 01,2022</td>
                                        <td>Gopal Kamath</td>
                                        <td>Yograj Shirsath</td>
                                        <td>April 30,2022</td>
                                        <td><span class="badge bg-primary">OPEN</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                            <a class="badge bg-info"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}