{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Edit Job Requirements</h4>
                    <h6 class="card-sub-title">Requirement</h6>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Analytical Ability</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Communication</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Lead Generation</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Machine Repairing</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Forntend Developer</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Team Management</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Team Building</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Problem Solving</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Decision Making</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Initiative</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Powerpoint</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Excel</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Social Media</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-12">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="city-column">Crisis Management</label>
                                            <input type="checkbox" id="checkbox1" class="form-check-input" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                    <button type="cancel" class="btn btn-light me-1 mb-1">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic multiple Column Form section end -->
</div>
{% endblock %}