{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">KPI Data</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="form-group">
                                        <label for="city-column"> </label>
                                        <select class="form-select" id="basicSelect">
                                            <option>---</option>
                                            <option>2022-23</option>
                                            <option>2023-24</option>
                                            <option>2024-25</option>
                                        </select>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                        <button type="cancel" class="btn btn-light me-1 mb-1">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">KPI Data</h4>
                <h6 card="card-subtitle">2022-23</h6>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <!-- table hover -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Month</th>
                                    <th>Target</th>
                                    <th>Actual</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>APR, 2022</td>
                                    <td><input type="number" id="kpi-apr" class="form-control"
                                        placeholder=" " name="apr" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-apr" class="form-control"
                                        placeholder=" " name="apr" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>MAY, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>JUN, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>JUL, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>AUG, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>SEP, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>OCT, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>NOV, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>DEC, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>JAN, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>FEB, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>MAR, 2022</td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                    <td><input type="number" id="kpi-may" class="form-control"
                                        placeholder=" " name="may" min="0" step="0.01" required></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer"></div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                        <button type="cancel" class="btn btn-light me-1 mb-1">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic multiple Column Form section end -->
</div>
{% endblock %}