{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
<section id="multiple-column-form">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Targets For 2023-2024</h4>
                <h6>Targets(for selected financial year)</h6>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form">
                        <div class="row">
                            <div class="col-md-3 col-12">
                                <div class="form-group">
                                    <input type="number" id="kpi-apr" class="form-control"
                                        placeholder="APR" name="apr" min="0" step="0.01" required>
                                    <input type="number" id="kpi-may" class="form-control"
                                        placeholder="MAY" name="may" min="0" step="0.01" required>
                                    <input type="number" id="kpi-jun" class="form-control"
                                        placeholder="JUN" name="jun" min="0" step="0.01" required>
                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <div class="form-group">
                                    <input type="number" id="kpi-jul" class="form-control"
                                        placeholder="JUL" name="jul" min="0" step="0.01" required>
                                    <input type="number" id="kpi-aug" class="form-control"
                                        placeholder="AUG" name="aug" min="0" step="0.01" required>
                                    <input type="number" id="kpi-sep" class="form-control"
                                        placeholder="SEP" name="sep" min="0" step="0.01" required>
                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <div class="form-group">
                                    <input type="number" id="kpi-oct" class="form-control"
                                        placeholder="OCT" name="oct" min="0" step="0.01" required>
                                    <input type="number" id="kpi-nov" class="form-control"
                                        placeholder="NOV" name="nov" min="0" step="0.01" required>
                                    <input type="number" id="kpi-dec" class="form-control"
                                        placeholder="DEC" name="dec" min="0" step="0.01" required>
                                </div>
                            </div>
                            <div class="col-md-3 col-12">
                                <div class="form-group">
                                    <input type="number" id="kpi-jan" class="form-control"
                                        placeholder="JAN" name="jan" min="0" step="0.01" required>
                                    <input type="number" id="kpi-feb" class="form-control"
                                        placeholder="FEB" name="feb" min="0" step="0.01" required>
                                    <input type="number" id="kpi-mar" class="form-control"
                                        placeholder="MAR" name="mar" min="0" step="0.01" required>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                <button type="cancel" class="btn btn-light me-1 mb-1">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic multiple Column Form section end -->
</div>
{% endblock %}