{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out - Lakshya</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'vendors/iconly/bold.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.svg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.png' %}" type="image/png">
</head>
<body data-new-gr-c-s-check-loaded="14.1062.0" data-gr-ext-installed="">
    <div id="auth">
        
<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <img src="{% static 'images/logo/lakshya-logo.png' %}" alt="Logo" width="40%"></a>
            <h1 class="auth-title"> </h1>
            <div class="alert alert-light-success color-success">You have been logged out successfully.<p>Thank you!</p></div>
            <div class="buttons">
                <a href="{% url 'login' %}" class="btn btn-primary btn-block shadow">Login again</a>
            </div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">
            <div class="images">
                <img src="{% static 'images/samples/logout.png' %}" alt="Logo" width="104%" srcset="">
            </div>
        </div>
    </div>
</div>

    </div>



</body>
{% endblock %}