{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">My Trainings</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Table with outer spacing -->
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>Topic</th>
                                        <th>Trainer</th>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Venue</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-bold-500">Design principles</td>
                                        <td class="text-bold-500">Jerry Sams</td>
                                        <td>April 25,2022</td>
                                        <td>11:00 am</td>
                                        <td>01:00 pm</td>
                                        <td>At Office</td>
                                        <td>
                                            <a class="badge bg-info"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-success"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Strategic Thinking</td>
                                        <td class="text-bold-500">Gopal Kamath</td>
                                        <td>April 15,2022</td>
                                        <td>10:00 am</td>
                                        <td>12:00 pm</td>
                                        <td>Online</td>
                                        <td>
                                            <a class="badge bg-info"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-success"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Machine Learning</td>
                                        <td class="text-bold-500">Elon Musk</td>
                                        <td>April 13,2022</td>
                                        <td>04:00 am</td>
                                        <td>05:30 pm</td>
                                        <td>Cisco Webinar</td>
                                        <td>
                                            <a class="badge bg-info"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-success"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Python Advanced</td>
                                        <td class="text-bold-500">Swarali Kulkarni</td>
                                        <td>April 28,2022</td>
                                        <td>11:00 am</td>
                                        <td>01:00 pm</td>
                                        <td>At Office</td>
                                        <td>
                                            <a class="badge bg-info"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-success"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Emotional Intelligence</td>
                                        <td class="text-bold-500">Jerry</td>
                                        <td>April 28,2022</td>
                                        <td>04:00 am</td>
                                        <td>05:00 pm</td>
                                        <td>Online</td>
                                        <td>
                                            <a class="badge bg-info"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-success"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}