{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Quick Suggestion (iSuggest)</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-8 col-12">
                                    <div class="form-group">
                                        <label for="first-name-column">Suggestion*</label>
                                        <input type="text" id="first-name-column" class="form-control"
                                            placeholder="" name="fname-column">
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <label for="city-column">Owner*</label>
                                        <select class="form-select" id="basicSelect">
                                            <option>---</option>
                                            <option>E</option>
                                            <option>D</option>
                                            <option>C</option>
                                            <option>B</option>
                                            <option>A</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                    <button type="cancel" class="btn btn-light me-1 mb-1">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // Basic multiple Column Form section end -->
</div>
{% endblock %}