{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
<!-- Basic Tables start -->
<section class="section">
    <div class="card">
        <div class="card-header">
            <h4>Strategic Goals Report</h4>
        </div>
        <div class="card-body">
            <table class="table" id="table1">
                <thead>
                    <tr>
                        <th style="width:200px">Strategic Goal</th>
                        <th style="width:200px">Internal Project</th>
                        <th>Task</th>
                        <th>Owner</th>
                        <th>Department</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>% Completion</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Achieve a Turnover of Rs. 25 Cr. in FY 22-23</td>
                        <td>Open up new markets in Middle East and Africa</td>
                        <td>Graiden</td>
                        <td>John Doe</td>
                        <td>HR</td>
                        <td>May 02, 2022</td>
                        <td>June 02, 2022</td>
                        <td>
                            <span class="badge bg-success">CLOSED</span>
                        </td>
                        <td><span class="badge bg-light-info">100%</span></td>
                        <td>
                            <a href="{% url 'taskDetails' %}" class="badge bg-info" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="Comments"><i class="bi bi-chat-left"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Achieve a profitability (Net Profit) of 15%</td>
                        <td>Reduce Operations Labour cost by 20%</td>
                        <td>Gibberish</td>
                        <td>Adam West</td>
                        <td>Operations</td>
                        <td>June 02, 2022</td>
                        <td>July 02, 2022</td>
                        <td>
                            <span class="badge bg-warning">OPEN</span>
                        </td>
                        <td><span class="badge bg-light-info">35%</span></td>
                        <td>
                            <a href="{% url 'taskDetails' %}" class="badge bg-info" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="Comments"><i class="bi bi-chat-left"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
<!-- Basic Tables end -->
</div>
{% endblock %}