{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="form">
                            <div class="row">
                                <div class="col-md-6 mb-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Target End Date</label>
                                        <input type="date" name="target_end" value="2022-05-10" 
                                        class="form-control dateinput calendar" placeholder="Select a date" 
                                        id="id_target_end">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-12">
                                    <div class="form-group">
                                        <label for="email-id-column">Status</label>
                                        <select class="form-select" id="basicSelect">
                                            <option>---</option>
                                            <option>OPEN</option>
                                            <option>IN PROGRESS</option>
                                            <option>WAITING</option>
                                            <option>CLOSED</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="search" class="btn btn-light-primary me-1 mb-1">Search</button>
                                    <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Task Allocated To Me</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- table hover -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th>Allocated By</th>
                                        <th>Allocation Date</th>
                                        <th>Target End Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="{% url 'taskDetails' %}" class="text-bold-500">Finish Evaluation</a></td>
                                        <td>Jenny Thomas</td>
                                        <td class="text-bold-500">May 11,2021</td>
                                        <td>May 26, 2021</td>
                                        <td><span class="badge bg-success">CLOSED</span></td>
                                        <td>
                                            <a href="{% url 'editMyTasks' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="{% url 'addComment' %}" class="badge bg-info" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">UI Redesign</td>
                                        <td>Shyam Rathod</td>
                                        <td class="text-bold-500">April 12,2022</td>
                                        <td>April 30, 2022</td>
                                        <td><span class="badge bg-primary">OPEN</span></td>
                                        <td>
                                            <a href="{% url 'editMyTasks' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="{% url 'addComment' %}" class="badge bg-info" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">New Theme Implementation</td>
                                        <td>Swarali Kulkarni</td>
                                        <td class="text-bold-500">May 12, 2022</td>
                                        <td>April 30, 2022</td>
                                        <td><span class="badge bg-primary">OPEN</span></td>
                                        <td>
                                            <a href="{% url 'editMyTasks' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="{% url 'addComment' %}" class="badge bg-info" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Update Lakshya App</td>
                                        <td>Hiren</td>
                                        <td class="text-bold-500">April 05,2022</td>
                                        <td>April 16, 2022</td>
                                        <td><span class="badge bg-warning">IN PROGRESS</span></td>
                                        <td>
                                            <a href="{% url 'editMyTasks' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="{% url 'addComment' %}" class="badge bg-info" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">TRAQ App</td>
                                        <td>Yograj Shirsath</td>
                                        <td class="text-bold-500">Feb 28, 2022</td>
                                        <td>April 25, 2022</td>
                                        <td><span class="badge bg-danger">WAITING</span></td>
                                        <td>
                                            <a href="{% url 'editMyTasks' %}" class="badge bg-primary" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Edit"><i class="bi bi-pen"></i></a>
                                            <a href="{% url 'addComment' %}" class="badge bg-info" data-bs-toggle="tooltip"
                                            data-bs-placement="right" title="Comment"><i class="bi bi-chat-left"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}