{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-end py-3">
                    <a href="{% url 'createNewTopic' %}" class="btn btn-primary">Create New</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Topics</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Table with outer spacing -->
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-bold-500">Design principles</td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">English Communication</td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Conflict Resolution</td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Emotional Intelligence</td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Problem Solving</td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Strategic Thinking</td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Python Advanced</td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Data Structures and Algorithms</td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Machine Learning</td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}