{% extends 'frontend/index.html' %}
{% load static %}

{% block content%}
        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-end py-3">
                    <a href="{% url 'createNewTrainer' %}" class="btn btn-primary">Create New</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Trainers</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- table hover -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-bold-500">Jerry Sams</td>
                                        <td>jerry@example.com</td>
                                        <td>2345678901</td>
                                        <td><span class="badge bg-light-secondary">External</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Gopal Kamath</td>
                                        <td>gopal@example.com</td>
                                        <td>7527542942</td>
                                        <td><span class="badge bg-light-primary">Internal</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Elon Musk</td>
                                        <td>elon@example.com</td>
                                        <td>9092810938</td>
                                        <td><span class="badge bg-light-secondary">External</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Swarali Kulkarni</td>
                                        <td>swarali@example.com</td>
                                        <td>7891839018</td>
                                        <td><span class="badge bg-light-primary">Internal</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-500">Viktor Stalin</td>
                                        <td>viktor@example.com</td>
                                        <td>2482047294</td>
                                        <td><span class="badge bg-light-secondary">External</span></td>
                                        <td>
                                            <a class="badge bg-primary"><i class="bi bi-pen"></i></a>
                                            <a class="badge bg-danger"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}